[Desktop Entry]
Icon=image-svg+xml
Name=1Up.svg
Type=Link
URL[$e]=file:$HOME/Desktop/dotfiles/images/start-icon/1Up.svg
X-KDE-LastOpenedWith=org.kde.plasmashell
