[Desktop Entry]
Icon=audio-mpeg
Name=BAP-115-Intermarium.mp3
Type=Link
URL[$e]=file:$HOME/Music/BAP-115-Intermarium.mp3
X-KDE-LastOpenedWith=org.kde.kdeconnect.app
