[Desktop Entry]
Icon=image-jpeg
Name=ed1.jpg
Type=Link
URL[$e]=file:$HOME/Desktop/dotfiles/images/workspace-images/ed1.jpg
X-KDE-LastOpenedWith=org.kde.plasmashell
